.input_default{
  position: relative;
  &__input{
    padding: 0 25px 0 15px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 35px;
    transition: background-color .25s ease-in, border-color .25s ease-in, box-shadow .25s ease-in;
    &:hover {
      background-color: #fff;
      border-color: #4683d9;
      box-shadow: 0 0 0 3px rgb(70 131 217 / 12%);
    }
  }
  &__warning{
    border-color: #e52e3a;
  }
  &__float_text{
    color: #e52e3a;
    font-size: 12px;
    transition: height .25s ease-in;
    display: block;
    overflow: hidden;
    visibility: hidden;
  }
  &__show_text{
    visibility: visible;
  }
  &__wrapper{
    max-height: 46px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    position: relative;
  }
  &__span{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
  }
  &__label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
}

@media screen and (max-width: 860px) {
  .input_default{
    &__input{
      min-height: 32px;
    }
  }
}

@media screen and (max-width: 860px) {
  .input_default{
    &__input{
      padding: 0 22px 0 15px;
      min-height: 28px;
      font-size: 14px;
    }
    &__span{
      font-size: 12px;
      right: 10px;
    }
  }
}