.button_drop{
  position: relative;
  z-index: 10;
  &__dot{
    width: 22px;
    height: 22px;
    background-image: url("../../public/three-dots.svg");
    background-size: cover;
    cursor: pointer;
  }
  &__fload{
    position: absolute;
    top: 100%;
    right: 0;
    padding: 6px;
    background-color: #fff;
    border-radius: 8px;
    user-select: none;
    gap: 4px;
  }
  &__btn{
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color .25s ease-in;
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,0.05);
    }
  }
}