.nav_setting{
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 0;
  flex-basis: 300px;
  &__h4{
    padding: 0 20px;
    margin-bottom: 6px;
  }
  &__nav{
    position: static;
  }
  &__line{
    padding: 0 20px 0 80px;
    height: 48px;
    position: relative;
    cursor: pointer;
    transition: .25s background-color ease-in;
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 1px;
      width: 80%;
      background-color: gray;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 30px;
      width: 24px;
      height: 24px;
      background-size: cover;
      transform: translateY(-50%);
    }
    &:hover{
      background-color: rgba(239,245,254,0.5);
    }
    &__people::after{
      background-image: url("../../public/people.svg");
    }
    &__settings::after{
      background-image: url("../../public/settings.svg");
    }
    &__diamond::after{
      background-image: url("../../public/diamond.svg");
    }
    &__bell::after{
      background-image: url("../../public/bell.svg");
    }
    &__stop::after{
      background-image: url("../../public/stop.svg");
    }
  }
  &__active{
    background-color: #eff5fe;
    &::before{
      display: none;
    }
  }
}