.popup_wrong{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .5);
  z-index: 20;
  &__frame{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 20px;
    min-width: 300px;
    position: relative;
  }
  &__xclose{
    right: 12px;
    top: 12px;
  }
  &__area_btn{
    padding-top: 20px;
  }
  &__btn{
    height: 35px;
  }
  &__h5{
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
  }
  &__span{
    text-align: center;
    max-width: 400px;
    display: inline-block;
  }
}