.form_regist{
  position: relative;
  gap: 10px;
  &__label{
    margin-bottom: 10px;
  }
  &__recaptcha{
    //position: fixed;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    z-index: 100;
  }
}

@media screen and (max-width: 998px){
  .form_regist{
    gap: 8px;
    &__label{
      margin-bottom: 8px;
    }
  }
}