.zoom_slider{
  display: grid;
  max-height: 640px;
  overflow: hidden;
  position: relative;
  width: 100%;
  &::before{
    position: absolute;
    display: block;
    padding-bottom: 100%;
  }
  &__picture{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__two{
    grid-template-columns: 1fr 1fr;
  }
  &__three{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .zoom_slider__picture:nth-child(1){
      grid-row: 1 / span 2;
    }
  }
  &__four{
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
  }
}

@media screen and (max-width: 998px){
  .zoom_slider{
    max-height: 520px;
  }
}

@media screen and (max-width: 720px){
  .zoom_slider{
    max-height: 420px;
  }
}