.form_login{
  gap: 16px;
  &__label{
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 998px){
  .form_login{
    gap: 10px;
    &__label{
      margin-bottom: 10px;
    }
  }
}