.chat_comment{
  padding-bottom: 9px;
  &__user{
    padding-right: 10px;
  }
  &__avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__nic{
    padding-left: 10px;
  }
  &__aliase{
    line-height: 15px;
    font-weight: 500;
  }
  &__date{
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px;
    color: gray;
  }
  &__likes{
    &:hover{
      &>button{
        opacity: 1;
      }
    }
  }
  &__number{
    color: #2ea83a;
    width: 40px;
    height: 22px;
    background-color: rgba(46, 168, 58, .2);
    display: inline-block;
    text-align: center;
  }
  &__btn{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    background-image: url("../../public/up-arrow.svg");
    background-size: 70% 70%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0 4px;
    transition: opacity .25s ease-in;
    opacity: 0;
    &:first-child{
      transform: rotate(180deg);
    }
  }
  &__scope{
    padding: 6px 0;
  }
  &__span_text{
    display: inline-block;
  }
  &__nested{
    padding-left: 5%;
    padding-top: 10px;
  }
  &__text_area{

  }
}

@media screen and (max-width: 720px) {
  .chat_comment{
    &__span_text{
      font-size: 14px;
    }
  }
}