.news_type{
  padding-left: 30px;
  display: inline-block;
  position: relative;
  font-weight: 600;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 6px;
    background-size: cover;
  }
  &__news::before{
    background-image: url("../../public/news.webp");
  }
  &__network::before{
    background-image: url("../../public/network.webp");
  }
  &__break::before{
    background-image: url("../../public/break.webp");
  }
  &__history::before{
    background-image: url("../../public/history.webp");
  }
  &__tehnolegy::before{
    background-image: url("../../public/tehnolegy.webp");
  }
  &__guest::before{
    background-image: url("../../public/guest.webp");
  }
}