.notification{
  position: absolute;
  top: 100%;
  right: -10%;
  background-color: #fff;
  min-width: 430px;
  display: flex;
  z-index: 10;
  &::before{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
  }
  &__wrapp{
    position: relative;
  }
  &__cap{
    padding: 12px 13px;
    border-bottom: 1px solid #f2f2f2;
  }
  &__h4{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
  }
  &__body{
    padding: 12px 13px 24px 13px;
  }
  &__left{
    position: static;
  }
  &__right{
    margin-left: 10px;
  }
  &__alarm{
    background-image: url("../../public/notification.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 7px;
  }
  &__desc{
    font-size: 13px;
    line-height: 18px;
    margin-right: 10px;
  }
  &__social{
    margin-top: 10px;
    gap: 8px;
  }
}