.avatar{
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  &__fourty{
    width: 40px;
    height: 40px;
  }
  &__thirty{
    width: 32px;
    height: 32px;
  }
  &__symbol{
    font-size: 19px;
    font-weight: 700;
    color: #fff;
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__circle{
    border-radius: 50%;
  }
  &__square{
    border-radius: 4px;
  }
  &__color{
    background-color: #2ea83a;
  }
}

@media screen and (max-width: 720px) {
  .avatar{
    &__fourty{
      width: 30px;
      height: 30px;
    }
    &__symbol{
      font-size: 15px;
    }
  }
}