.button_default{
  font-weight: 600;
  font-size: 17px;
  padding: 10px 16px 13px 16px;
  border-radius: 8px;
  background-color: #fff;
  line-height: 1;
  max-width: 135px;
  height: 40px;
  box-shadow: 0px 0px 2px 1px #000000;
  white-space: nowrap;
  transition: box-shadow .25s ease-in;
  &:hover{
    box-shadow: 0px 0px 3px 2px #000000;
  }
}

@media screen and (max-width: 860px) {
  .button_default{
    position: relative;
    font-size: 0;
    &::before{
      content: "";
      font-size: 0;
      background-image: url('../../public/pencil.svg');
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }
  }
}